## Data Analysis using Python Assignment

Load the ipl datasets deliveries.csv and matches.csv into a pandas dataframe and answer the quesions based on these dataset.

### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
deliveries = pd.read_csv(r"C:\Users\sanjay\Desktop\deliveries.csv")
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

### Loading the dataset

In [2]:
matches = pd.read_csv(r"C:\Users\sanjay\Desktop\matches.csv")
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

## EDA

#### 1. Merge both the datasets so that the resulting df would have all the columns. Call it ipl_total. The shape would be (136598, 39)

In [3]:
ipl_total = pd.concat([deliveries,matches],axis=1)
ipl_total

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,normal,0.0,Kolkata Knight Riders,140.0,0.0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,normal,0.0,Chennai Super Kings,33.0,0.0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,normal,0.0,Delhi Daredevils,0.0,9.0,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,normal,0.0,Royal Challengers Bangalore,0.0,5.0,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,normal,0.0,Kolkata Knight Riders,0.0,5.0,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136593,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136594,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136595,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136596,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136597,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2. The dataset deliveries has the ball-by-ball summary of each match from 2008 to 2016 but it doesn't have season column making it difficult to segregate the data season-wise. Merge both the datasets such that the dataset deliveries also gets an additional column season and store it in deliveries_season. Drop the duplicate column id. The shape deliveries_season should be (136598, 22).

In [4]:
deliveries_season = pd.merge(matches[['season','id']],deliveries,left_on = 'id',right_on = 'match_id').drop('id',axis =1)
deliveries_season

,season,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,2008,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,2008,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,2008,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,2008,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,2008,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136593,2016,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136594,2016,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
136595,2016,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136596,2016,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136597,2016,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [7]:
matches.head(20)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
5,6,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
6,7,2008,Hyderabad,2008-04-22,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,normal,0,Delhi Daredevils,0,9,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",IL Howell,AM Saheba,NaN
7,8,2008,Chennai,2008-04-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN
8,9,2008,Hyderabad,2008-04-24,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,MR Benson,NaN
9,10,2008,Chandigarh,2008-04-25,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,66,0,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Aleem Dar,AM Saheba,NaN
10,11,2008,Bangalore,2008-04-26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,SR Watson,M Chinnaswamy Stadium,MR Benson,IL Howell,NaN
11,12,2008,Chennai,2008-04-26,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,normal,0,Chennai Super Kings,0,9,JDP Oram,"MA Chidambaram Stadium, Chepauk",BF Bowden,AV Jayaprakash,NaN
12,13,2008,Mumbai,2008-04-27,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,10,AC Gilchrist,Dr DY Patil Sports Academy,Asad Rauf,SL Shastri,NaN
13,14,2008,Chandigarh,2008-04-27,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Kings XI Punjab,0,4,SM Katich,"Punjab Cricket Association Stadium, Mohali",RE Koertzen,I Shivram,NaN
14,15,2008,Bangalore,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,13,0,MS Dhoni,M Chinnaswamy Stadium,BR Doctrove,RB Tiffin,NaN
15,16,2008,Kolkata,2008-04-29,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,normal,0,Mumbai Indians,0,7,ST Jayasuriya,Eden Gardens,BF Bowden,AV Jayaprakash,NaN
16,17,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN
17,18,2008,Hyderabad,2008-05-01,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,7,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",BR Doctrove,RB Tiffin,NaN
18,19,2008,Jaipur,2008-05-01,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,normal,0,Rajasthan Royals,45,0,SA Asnodkar,Sawai Mansingh Stadium,RE Koertzen,GA Pratapkumar,NaN
19,20,2008,Chennai,2008-05-02,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,normal,0,Delhi Daredevils,0,8,V Sehwag,"MA Chidambaram Stadium, Chepauk",BF Bowden,K Hariharan,NaN

In [6]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

#### 3. Use groupby on the dataset matches to return only the winner for each season (each rwo representing winner for each season starting from 2008). Store it in a new dataframe called winners. [Hint: the last match of each seaon would be the final of that season. The shape of winners should be (9,17)]

In [7]:
winners = matches.groupby(['season']).last()
winners
winners.shape

(9, 17)

#### 4. Use the deliveries_season df created in qn 2 to find the total runs scored by each team per season. Store the resulting dataframe as season_run_summary. The shape would be (76, 3)

In [8]:
deliveries_season
deliveries_season.groupby(['season','batting_team'])[['total_runs']].sum().reset_index()

    season                 batting_team  total_runs
0     2008          Chennai Super Kings        2520
1     2008              Deccan Chargers        2229
2     2008             Delhi Daredevils        2118
3     2008              Kings XI Punjab        2464
4     2008        Kolkata Knight Riders        1942
..     ...                          ...         ...
71    2016        Kolkata Knight Riders        2263
72    2016               Mumbai Indians        2194
73    2016      Rising Pune Supergiants        2063
74    2016  Royal Challengers Bangalore        2981
75    2016          Sunrisers Hyderabad        2673

[76 rows x 3 columns]

#### 5. Use the deliveries_season df created in qn 2 to find the total wickets taken by each bowler per seaon per team. Store it in season_wicket_summary, shape should be (1036, 4)

In [31]:
season_wicket_summary = deliveries_season[['season','bowling_team','bowler','player_dismissed']].groupby(['season','bowling_team','bowler']).count().reset_index()
season_wicket_summary.shape

(1036, 4)

#### 6.Consider the following dataframe. Reshape it such that it contains three columns: time, part (part_0_hits or part_1_hits) and hits (values corresponding to the part_0_hits and part_1_hits). Store it in part_df_melted

In [34]:
d = {'time':[0,1,2], 'part_0_hits': [100,200,300], 'part_1_hits': [25,50,75]}
part_df = pd.DataFrame(d)
part_df
part_df_melted = part_df.set_index('time').stack().reset_index(name = 'hits').rename(columns = {'level_1': 'part'})
part_df_melted

   time         part  hits
0     0  part_0_hits   100
1     0  part_1_hits    25
2     1  part_0_hits   200
3     1  part_1_hits    50
4     2  part_0_hits   300
5     2  part_1_hits    75

#### 7. Use the part_df_melted generated in qn 6 and change the part column to show only the corresponding part numbers (0 or 1 inplace of part_0_hits or part_1_hits)

In [35]:
part_df_melted['part'] = part_df_melted['part'].str.extract('(\d+)', expand = False)
part_df_melted

   time part  hits
0     0    0   100
1     0    1    25
2     1    0   200
3     1    1    50
4     2    0   300
5     2    1    75

#### 8. Pivot the following dataframe to create 5 columns: labels, A,B,C,D.

In [37]:
data = {"grouping": ["item1", "item1", "item1", "item2", "item2", "item2", "item2"],
        "labels": ["A", "B", "C", "A", "B", "C", "D"],
        "count": [5, 1, 8, 3, 731, 189, 9]}
df = pd.DataFrame(data)
df
df = pd.pivot_table(df, index='grouping', columns='labels', values = 'count', aggfunc='first')
df

labels      A      B      C    D
grouping
item1     5.0    1.0    8.0  NaN
item2     3.0  731.0  189.0  9.0

#### 9. Pivot the following dataframe to create df_pivoted with four columns: category, A, B, C. Aggregate the values on sum.

In [44]:
df = pd.DataFrame({'Name' : ['one', 'one', 'two', 'three'] * 3,
                   'Category' : ['A', 'B', 'C'] * 4,
               'Value' : range(12)})
df

     Name Category  Value
0     one        A      0
1     one        B      1
2     two        C      2
3   three        A      3
4     one        B      4
5     one        C      5
6     two        A      6
7   three        B      7
8     one        C      8
9     one        A      9
10    two        B     10
11  three        C     11

In [58]:
df_pivoted = pd.pivot_table(df, index='Name',columns='Category', values = 'Value', aggfunc='sum')
df_pivoted

Category  A   B   C
Name
one       9   5  13
three     3   7  11
two       6  10   2

#### 10. Use the df_pivoted generated in qn 9 and add three columns A_pct, B_pct, C_pct to represent the percentage values of each cell per column. Hint: use df.apply(lambda x: .....)

In [104]:
df_pivoted['A_pct'] = df_pivoted['A']/100
df_pivoted['B_pct'] = df_pivoted['B']/100
df_pivoted['C_pct'] = df_pivoted['C']/100
df_pivoted

Category  A   B   C  A_pct  B_pct  C_pct
Name
one       9   5  13   0.09   0.05   0.13
three     3   7  11   0.03   0.07   0.11
two       6  10   2   0.06   0.10   0.02